version: 2

defaults: &defaults
  docker:
    - image: golang:stretch
  working_directory: /workspace
  environment:
    GOPATH: /
    GOCACHE: /.cache/go-build
    GO111MODULE: "on"

jobs:
  setup-build:
    <<: *defaults
    steps:
      - run: go env
      - checkout
      - restore_cache:
          keys:
            - go-module-cache-v1-{{ checksum "/workspace/src/go.sum" }}
            - go-module-cache-v1-
      - run: cd src && go mod download && cd ..
      - save_cache:
          key: go-module-cache-v1-{{ checksum "/workspace/src/go.sum" }}
          paths:
            - /pkg/mod/cache
      - save_cache:
          key: workspace-v1-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - /workspace

  test:
    <<: *defaults
    steps:
      - restore_cache:
          keys:
            - workspace-v1-{{ .Environment.CIRCLE_SHA1 }}
      - restore_cache:
          keys:
            - go-module-cache-v1-{{ checksum "/workspace/src/go.sum" }}
            - go-module-cache-v1-
      - restore_cache:
          keys:
            - go-build-cache-v1-{{ .Branch }}-{{ .Revision }}
            - go-build-cache-v1-{{ .Branch }}
            - go-build-cache-v1
      - run: go test -v ./...
      - save_cache:
          key: go-build-cache-v1-{{ .Branch }}-{{ .Revision }}
          paths:
            - /.cache/go-build

workflows:
  version: 2
  test:
    jobs:
      - setup-build
      - test:
          requires:
            - setup-build